body {
  background-color: gray;
  background-image: url("tsoi-wall.jpeg");
  background-size: cover;
  background-blend-mode: lighten;
}
#headerimg{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
img{
    width: 80%;
    height: auto;
}
header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:  black;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
    margin: 0% 10% 1% 10%;
}
#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7, #tab8, #tab9, #tab10{
    padding: 2%;
    color: white;
    font-size: 16px;
    font-size: 2.5vmin; /* Scales font width with element size! */
}

#tab1:hover, #tab2:hover, #tab3:hover, #tab4:hover, #tab5:hover, #tab6:hover, #tab7:hover, #tab8:hover, #tab9:hover, #tab10:hover{
    background-color: #343434;
}

#tab11, #tab12, #tab13, #tab14, #tab15, #tab16, #tab17, #tab18, #tab19, #tab20{
    padding: 0%;
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
    font-size: 2.5vmin; /* Scales font width with element size! */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  padding: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#tab11:hover, #tab12:hover, #tab13:hover, #tab14:hover, #tab15:hover, #tab16:hover, #tab17:hover, #tab18:hover, #tab19:hover, #tab20:hover{
    background-color: #343434;
}

#section1 {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#section1 > div {
    padding: 2%;
}

#Welcome {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 60%;
    height: 12%;
    margin: 1%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#Welcome > h1 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 30px;
    font-size: 5vmin;
    color: black
}
#Welcome > p {
    font-weight: normal;
    font-family: serif;
    font-size: 16px;
    font-size: 2vmin;
    color: black
}

a > img {
    width: 100px;
    height: auto;
}

.Graph {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 40%;
    height: auto;
    margin: 1%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Graph > h1 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-size: 3vmin;
    color: black
}

.GraphA {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 60%;
    height: auto;
    margin: 1%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.GraphA > h1 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-size: 3vmin;
    color: black
}

#Lyrics {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 50%;
    height: auto;
    margin: 1%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Lyrics > h1 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-size: 3vmin;
    color: black
}

#Lyrics > h2 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 15px;
    font-size: 2.5vmin;
    color: black
}
#Video {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

#Video > h1 {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    font-size: 20px;
    font-size: 3vmin;
    color: black
}

#section0 {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}


a {
    text-decoration: none;
    color: blue;
}
footer{
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:flex-end;
    background-color: #343434;
    margin: 2% 0% 0% 0%;
}

